.metadata/*
RemoteSystemsTempFiles/*
/work_space/SmartHomeServer/nbproject/private/
/work_space/PSHDataServer/nbproject/private/
/work_space/PESHDataServer/nbproject/private/
/work_space/PESHDataModelServer/nbproject/private/
/work_space/PESHControllerServer/nbproject/private/
/work_space/PESHDataModelServer/build/